<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <style>
        body { background-color: rgba(214, 209, 209, 0.856);}
    </style>
    <title> MERCADO LOBO </title>
</head>

<body>
    <header> 
        <h1 align="left"> MERCADO LOBO </h1>
        <img src="../public/imag/logo1.jpg" alt="lobo negro con estrellas doradas en el pelaje">      
        <h4 align="left"> barra de búsqueda </h4>
        <h2 align="left" id="saludo"> Comprar en cuotas y sin tarjeta de crédito </h2>
    </header>  

        <nav>
            <ul>
                <li type="charset"><a href="#"> OFERTAS </a></li>
                <li type="charset"><a href="#"> TIENDAS OFICIALES </a></li>
                <li type="charset"><a href="#"> VENDER </a></li>
                <li type="charset"><a href="#"> AYUDA </a></li>
                <li type="charset"><a href="#"> CREA TU CUENTA </a></li>
                <li type="charset"><a href="#"> INGRESAR </a></li>
                <li type="charset"><a href="#"> MIS COMPRAS </a></li>
            </ul>
        </nav>

    </header>  

    <main>

        <section> 
            
          <h2> OFERTAS BASADAS EN TU ÚLTIMA VISITA </h2>

            <article>   
                <img src="../public/imag/img-cafetera-moulinex.jpg" alt="cafetera roja" width="400" height="400">
                <p> Cafetera Moulinex <br> <em> $6.770 </em> <br> <strong> 40% OFF </strong> </p>
            </article> 
            
            <article> 
                <img src="../public/imag/img-macbook-pro-2019.jpg" alt="computadora portátil" width="400" height="400">
                <p> MacBook Pro 2019 <br> <em> $230.000 </em> <br> <strong> 20% OFF </strong> </p>
            </article>

            <article> 
                <img src="../public/imag/img-samsung-galaxy-s10.jpg" alt="celular" width="400" height="400">
                <p> Samsung Galaxy S1O <br> <em> $70.500 </em> <br> <strong> 10% OFF </strong> </p>
            </article>

            <article> 
                <img src="../public/imag/img-tv-samsung-smart.jpg" alt="tv pantalla plana" width="400" height="400">
                <p> Smart Tv Samsung 43" <br> <em> $23.200 </em> <br> <strong> 5% OFF </strong> </p>
            </article>
      </section> 
    </main>   
</body>
<footer> 
        <div> <img src="../public/imag/logo1.jpg" alt="lobo negro con estrellas doradas en el pelaje" width="135" height="176"></div>
        <section> 
                <h3 alig="center"> Pagar con tarjeta o en efectivo </h3> 
               <p> Con Mercado Lobo Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>  
        </section>
            
         
        

        <section>
                <h3> Envío gratis desde $2.500 </h3>     
                <p> Solo por estar registrad@ en Mercado Lobo tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos </p>   
        </section>

        <section>
                <h3> Seguridad, de principio a fin </h3>
                <p> ¿No te gusta? ¡Devolvélo! En Mercado Lobo, no hay nada que no puedas hacer, porque estás siempre protegid@ </p>
        </section>

        <section>
                <h3> Copyright &#169 1999 - 2020 Mercado Lobo S.R.L.</h3>
        </section>

</footer>
</html>